/*
.insect {
    color: blue;
}

.crispy {
    width: 500px;
    clear: both;
}

.crispy input {
    width: 100%;
    margin-bottom: 10px;
    clear: both;
    margin-left: 10px;
}
*/
.insect{color:blue}.crispy{width:500px;clear:both}.crispy input{width:100%;margin-bottom:10px;clear:both;margin-left:10px}